@model IEnumerable<Mvc.Web.Models.Sales>

@{
    ViewBag.Title = "Index";
}

<h2>Продажи</h2>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<p>
    @Html.ActionLink("Добавление новой продажи", "Create")
</p>
<table class="table table-bordered table-hover" id="salesTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сities.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сontacts.CounterpartyContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сounterpartys.СounterpartyName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="spanViz" style="visibility :visible">
                    @Html.DisplayFor(modelItem => item.SaleName)
                </span>
                <span class="spanInv" style="visibility :hidden">
                    @Html.EditorFor(modelItem => item.SaleName)
                </span>
            </td>
            <td>
                <span class="spanViz" style="visibility :visible">
                    @Html.DisplayFor(modelItem => item.Сities.CityName)
                </span>
                <span class="spanInv" style="visibility :hidden">
                    @Html.EditorFor(modelItem => item.Сities.CityName)
                </span>
            </td>
            <td>
                <span class="spanViz" style="visibility :visible">
                    @Html.DisplayFor(modelItem => item.Сontacts.CounterpartyContact)
                </span>
                <span class="spanInv" style="visibility :hidden">
                    @Html.EditorFor(modelItem => item.Сontacts.CounterpartyContact)
                </span>
            </td>
            <td>
                <span class="spanViz" style="visibility :visible">
                    @Html.DisplayFor(modelItem => item.Сounterpartys.СounterpartyName)
                </span>
                <span class="spanInv" style="visibility :hidden">
                    @Html.EditorFor(modelItem => item.Сounterpartys.СounterpartyName)
                </span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SaleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SaleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SaleId })
                
            </td>
            <td>
                <input type="button" class="btn btn-lg btn-primary btn-sm" id="btnEditSale" value="Редактировать" />
                <input type="button" class="btn btn-lg btn-primary btn-sm" id="btnSaveSale" value="Сохранить" hidden />
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#btnEditSale').click(function (event) {
                event.preventDefault();
                $('#btnEditSale').prop('disabled', true);
                $('#btnSaveSale').attr("hidden", false);

                var $spanInv = $('.spanInv');
                var $spanViz = $('.spanViz');

                if ($spanInv.css('visibility') === 'hidden') {
                    $spanInv.css('visibility', 'visible');
                    $spanViz.css('visibility', 'hidden');
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#btnSaveSale').click(function (event) {
                event.preventDefault();
                $('#btnSaveSale').attr("hidden", true);

                var $spanInv = $('.spanInv');
                var $spanViz = $('.spanViz');

                if ($spanInv.css('visibility') === 'visible') {
                    $spanInv.css('visibility', 'hidden');
                    $spanViz.css('visibility', 'visible');
                    $('#btnEditSale').prop('disabled', false);
                }
            });
        });
    });
</script>


<style type="text/css">
    td.spanInv {
        visibility: hidden;
    }
    td.spanViz {
        visibility: visible;
    }
    [hidden] {
        display: none;
    }
</style>